#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 3em;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin 1s ease-in-out 2s;
}

.header img {
  grid-column: 3;
}


form {
  margin: 0 auto;
}

.header h2 {
  color: #5c5c5c;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}