form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 15px;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #2f2f2f;
    border-radius: 1em;
}

a{
    margin: 15px;
}

form div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

form button {
    justify-self: center;
    align-self: center;
}

div > button {
    grid-column: 2;
}

input, label, textarea{
    margin: 0 1rem;
}

button {
    margin: 1rem;
}

@media (prefers-color-scheme: light) {
   form{
    background-color: #eaeaea;
   } 

}