
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 15px;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1em;
}

.body{
    margin-top: 10%;
}

.input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.footer{
    margin: 2em;
}

.info {
    display: grid;
    margin: 1rem;
}

.info h3 {
    margin: 0;
}

form button {
    justify-self: center;
    align-self: center;
}

div > button {
    grid-column: 2;
}

input, label, textarea{
    margin: 0 1rem;
}

button {
    margin: 1rem;
}

@media (prefers-color-scheme: light) {


}