.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 320px;
    /* height: 80%; */
    max-height: 99vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    margin: 0 1em;
}

.card {
    max-height: 99vh;
    height: 100%;
    padding: 2em;
}


.contact {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.contact img {
    width: auto;
    height: 5em;
}

.contact>button {
    grid-column: 3;
}

.scroll {
    height: 100%;
    max-height: 400px;
    overflow-y: scroll;
    margin: 0 auto;
}

.conversation {
    display: grid;
    /* border: 1px solid black; */
    justify-content: center;
    border-radius: 8px;
    padding: 1em;
    margin: 0.5em;
    max-height: 60vh;
}

.conversationInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: center;
    width: max-content;
}



.chatWindow {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.sent,
.received {
    margin: 0.5em 2em;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.sent {
    align-self: end;
    background-color: #67b2f8;
}

.received {
    align-self: start;
    background-color: #d2d2d2;
}



.tailRight,
.tailLeft {
    background-color: inherit;
    /* border: 1px solid black; */
    position: relative;
    width: 25px;
    height: 15px;
    border-radius: 1em;
    margin-bottom: -9px;
    max-width: 150px;
}

.tailRight {
    right: 0.7em;
    transform: skew(-45deg);

}

.tailLeft {
    left: 0.7em;
    transform: skew(45deg);
    top: -1px;
    align-self: end;

}

.messagePreview {
    min-width: 115px;
}